.message {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.new-message-link {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #28A745;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.new-message-link:hover {
    background-color: #218838;
}

.view-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.view-link:hover {
    background-color: #0056b3;
}